<ion-header>
    <ion-navbar>
        <ion-title>
            {{ product.title }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- Images -->
    <ion-slides autoplay="3000">
        <ion-slide *ngFor="let image of product.images">
            <img [src]="image.src" />
        </ion-slide>
    </ion-slides>
    <!-- Images -->
    <!-- Content -->
    <ion-card>
        <ion-card-content>
            <ion-card-title>
                {{ product.title }} &nbsp;
                <ion-chip *ngFor="let category of product.categories" style="margin-left: 5px;">
                    <ion-label color="danger">
                        {{ category }}
                    </ion-label>
                </ion-chip>
            </ion-card-title>
            <p [innerHTML]="product.short_description"></p>
            <button ion-button icon-left block outline color="danger">
                <ion-icon name="basket"></ion-icon> Mua Hàng
            </button>
        </ion-card-content>
    </ion-card>
    <!-- Content -->
    <!-- Attribute -->
    <ion-card *ngIf="product.attributes.length > 0">
        <ion-card-content>
            <ion-card-title>
                Đặc Điểm
            </ion-card-title>
        </ion-card-content>
        <ion-grid>
            <ion-row *ngFor="let attr of product.attributes">
                <ion-col col-4>
                    {{ attr.name }}
                </ion-col>
                <ion-col col-8>
                    <span *ngFor="let option of attr.options">
                        {{ option }}
                    </span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <!-- Attribute -->
    <!-- Reviews -->
    <ion-card *ngIf="reviews.length > 0">
        <ion-card-content>
            <ion-card-title>
                Đánh Giá & Nhận Xét
            </ion-card-title>
        </ion-card-content>
        <ion-grid>
            <ion-row *ngFor="let review of reviews">
                <ion-col col-4>
                    <strong>{{ review.reviewer_name }}</strong>
                    <span *ngIf="review.rating >= 1">
                        <ion-icon [style.color]="'#d4af37'" small name="star"></ion-icon>
                    </span>
                    <span *ngIf="review.rating >= 2">
                        <ion-icon [style.color]="'#d4af37'" small name="star"></ion-icon>
                    </span>
                    <span *ngIf="review.rating >= 3">
                        <ion-icon [style.color]="'#d4af37'" small name="star"></ion-icon>
                    </span>
                    <span *ngIf="review.rating >= 4">
                        <ion-icon [style.color]="'#d4af37'" small name="star"></ion-icon>
                    </span>
                    <span *ngIf="review.rating >= 5">
                        <ion-icon [style.color]="'#d4af37'" small name="star"></ion-icon>
                    </span>
                </ion-col>
                <ion-col col-8>
                    {{ review.review }}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <!-- Reviews -->
</ion-content>
